/*/////////////////////////////////////////////////
Media Query manager
0-600     px : phones
600-900   px : tablet portrait
900-1200  px : tablet landscape
1200-1800 px : normal styles
1800+     px : big desktop

1em = 16px

USAGE: @include respond(phone) {property: value;}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 3rem;
  /*adds a frame to webpage*/ }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Lato', 'Arial', sans-serif;
  /* font-size: 1.6rem; */
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.7rem;
      font-weight: 700; } }
  .heading-secondary:hover {
    transform: skewY(4deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  .heading-secondary:focus {
    outline: none; }

.heading3 {
  font-size: 2rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.7rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-side-small {
  margin: 0 2rem !important; }

.u-padding-bottom-huge {
  padding-bottom: 12rem !important; }

.u-padding-bottom-big {
  padding-bottom: 8rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-bottom-small {
  padding-bottom: 2rem !important; }

.u-padding-top-huge {
  padding-top: 16rem !important; }

.u-padding-top-big {
  padding-top: 8rem !important; }

.u-padding-top-medium {
  padding-top: 4rem !important; }

.u-padding-top-small {
  padding-top: 2rem !important; }

/*/////////////////////////////////////////////////
Responsive Images - Netflix method
*/
.img-wrapper {
  width: calc(100% / 4);
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 14.0625%; }

.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-4px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /*for even scaling*/
    opacity: 0;
    /*for fade out effect */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green:link, .btn--green:visited {
  background-color: transparent;
  color: #55c57a;
  border: 1px solid #55c57a;
  display: inline-block;
  font-size: 1.8rem; }

.btn--green:hover {
  background-color: #28b485;
  color: #fff; }

.btn--greenfill {
  background-color: #55c57a;
  color: #fff;
  text-transform: uppercase; }
  .btn--greenfill::after {
    background-color: #55c57a; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  transition: all .5s;
  position: absolute;
  /*position after btn behind original*/
  top: 0;
  left: 0;
  z-index: -1; }

.btn--animated {
  animation: moveInUp 0.5s ease-out 1.75s backwards; }

.card {
  height: 50rem;
  -moz-perspective: 100rem;
  perspective: 100rem;
  position: relative; }
  .card__side {
    color: white;
    height: 50rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      text-align: center;
      position: relative; }
      .card__side--back .card__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        width: 90%; }
      .card__side--back .back-price-box-only {
        font-size: 1.4rem;
        display: block; }
      .card__side--back .back-price-box-price {
        display: block;
        font-size: 6rem;
        font-weight: 100;
        padding: 1rem 0 8rem 0; }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    @media only screen and (max-width: 56.25em) {
      .card__picture {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }
    .card__picture-1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    position: absolute;
    right: 2.5rem;
    top: 16rem;
    width: 75%;
    text-align: right; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span-1 {
      background: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span-2 {
      background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span-3 {
      background: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    color: #777;
    font-size: 1.7rem;
    padding: 4rem 3rem 0 3rem; }
    .card__details ul {
      text-align: center;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 0.5rem;
        display: block; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          height: 30rem;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card__cta {
        position: relative;
        margin: 0 auto; }
        .card__cta .back-price-box-only {
          font-size: 2rem; }
        .card__cta .back-price-box-price {
          display: block;
          font-weight: 300;
          padding: 1rem 0 2rem 0; }
        .card__cta-1 {
          background: linear-gradient(to right bottom, #ffb900, #ff7730); }
        .card__cta-2 {
          background: linear-gradient(to right bottom, #7ed56f, #28b485); }
        .card__cta-3 {
          background: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__details {
        font-size: 1.8rem;
        padding: 2rem 3rem 0 3rem; }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); } }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.4s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          left: -4rem; } }
    .composition__photo--p2 {
      right: 0rem;
      top: 2rem; }
      @media only screen and (max-width: 75em) {
        .composition__photo--p2 {
          right: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          right: 0rem; } }
    .composition__photo--p3 {
      left: 9rem;
      top: 15rem; }
      @media only screen and (max-width: 75em) {
        .composition__photo--p3 {
          left: 7rem; } }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 10%; } }
    .composition__photo:hover {
      transform: scale(1.15) translateY(-0.5rem);
      z-index: 9999;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a;
      outline-offset: 1.5rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s;
  padding: 2.5rem;
  height: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      height: fit-content; } }
  .feature-box .heading3 {
    font-size: 1.8rem; }
  .feature-box__icon {
    font-size: 7rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.05);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5); }
  .feature-box__text {
    color: #777;
    font-size: 1.5rem; }

.form {
  backface-visibility: hidden; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: .4s; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730; }
  .form__label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: '';
      display: block;
      border-radius: 50%;
      height: 1.2rem;
      width: 1.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.header {
  height: 83vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg"); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo--box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo--box img {
    height: 4rem;
    width: auto; }
  .header__logo--box img {
    height: 4rem;
    width: auto; }
  .header__text--box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase; }
  .header__primary--main {
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 3rem;
    line-height: 1.4;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation: moveInLeft 1s ease-out  0 1; }
    @media only screen and (max-width: 37.5em) {
      .header__primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .header__primary--sub {
    font-size: 2rem;
    font-weight: 700;
    word-spacing: .8rem;
    letter-spacing: 1.4rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__primary--sub {
        letter-spacing: .5rem;
        font-size: 1.8rem; } }

/*
INSTRUCTIONS:
# opens with #popup id
# remove from smooth scrolling function to allow popup

HTML:
<div class="popup" id="popup" >
    <a class="popup__close-bg" href="#" onclick="history.go(-1)"></a>
    <div class="popup__content" onclick="return false">
        <div class="popup__left">
            <img class="popup__img" src="../img/nat-8.jpg" alt="popup photo">
            <img class="popup__img" src="../img/nat-9.jpg" alt="popup photo">
        </div>
        <div class="popup__right">
            <a class="popup__close" href="#" onclick="history.go(-1)">&times;</a>
            <h2 class="heading-secondary u-padding-bottom-small">Start booking now</h2>
            <h3 class="heading3 u-padding-bottom-small">Important &ndash; Read the following information:</h3>
            <p class="popup__text u-padding-bottom-medium">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi voluptate totam vel suscipit sapiente ut praesentium, fugiat doloremque cupiditate, voluptatum iste sint corporis sequi ex animi! Qui, illum necessitatibus? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <div class="u-center-text">
                <a href="#book" class="btn btn--greenfill" onclick="history.go(-1)">Book now</a>
            </div>
        </div>

    </div>
    <a class="popup__close" href="#" onclick="history.go(-1)"></a>
</div>
*/
.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all .5s;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 75%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
    display: block;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    transition: all .5s .2s;
    float: right; }
    @media only screen and (max-width: 75em) {
      .popup__content {
        width: 90rem; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 63vw; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 75vw; } }
  .popup__left {
    width: 33.3333333%;
    height: 100%;
    display: table-cell; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        display: table-footer-group;
        height: auto;
        width: 25vw; }
        .popup__left:first-child {
          display: none; } }
  .popup__right {
    padding: 2rem 5rem;
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: inherit; }
    @media only screen and (max-width: 75em) {
      .popup__right {
        padding: 1.2rem 5rem 2rem 5rem; } }
  .popup__img {
    display: block;
    width: 100%;
    display: table-cell; }
  .popup__text {
    font-size: 1.6rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__close {
    transition: all .1s ease; }
    .popup__close:visited, .popup__close:link {
      color: #333;
      font-size: 4rem;
      text-decoration: none;
      position: absolute;
      top: 2rem;
      right: 1rem;
      line-height: 1px; }
    .popup__close:hover {
      color: #7ed56f;
      text-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
      top: 1.8rem; }
    .popup__close-bg {
      width: 100vw;
      height: 100vh;
      cursor: default;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

@media only screen and (max-width: 56.25em) {
  .section-stories .row {
    max-width: 80rem; } }

@media only screen and (max-width: 37.5em) {
  .section-stories .row {
    max-width: 55rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5rem;
  padding-left: 8rem;
  position: relative;
  border-radius: .5rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 3rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    border-radius: 50%;
    overflow: hidden; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: skewX(0deg) translateX(-3rem); } }
  .story__image {
    height: 100%;
    transform: translate(-15%, 0) scale(1.3);
    transition: all 0.5s ease;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translate(-15%, 0) scale(1);
    z-index: 9999;
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__nav {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    color: #f7f7f7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        width: 100%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 55rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc(( 100% - 6rem ) /2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2 * 6rem ) /3); }
  .row .col-1-of-4 {
    width: calc(( 100% - 3 * 6rem ) /4); }
  .row .col-2-of-3 {
    width: calc(  2 * (( 100% - 2 * 6rem ) /3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((( 100% - 3 * 6rem ) /4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc((( 100% - 3 * 6rem ) /4) * 3 + 6rem * 2); }

/*INSTRUCTIONS:
# JS/jQuery:
## toggle off navigation by adding to this to the scrolling function, after prevent default:
document.getElementById("navi-toggle").checked=false;

# HTML:
<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <label for="navi-toggle">
                <li class="navigation__item"><label for="navi-toggle"><a href="#about" class="navigation__link"><span>01</span>About Natours</a></label></li>
                <li class="navigation__item"><a href="#features" class="navigation__link" onclick="checkAll()"><span>02</span>Your benefits</a></li>
                <li class="navigation__item"><a href="#tours" class="navigation__link"><span>03</span>Popular tours</a></li>
                <li class="navigation__item"><a href="#stories" class="navigation__link"><span>04</span>Stories</a></li>
                <li class="navigation__item"><a href="#book" class="navigation__link"><span>05</span>Book now</a></li>
            </label>
        </ul>
    </nav>
</div>
*/
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #21966f);
  z-index: 1000;
  transition: all 0.8s ease;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation__nav {
  backface-visibility: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -30rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__list {
  list-style: none;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 230%;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    content: "";
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  background-color: #f7f7f7;
  padding: 27rem 0 15rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 27rem 0 55rem 0; } }

.section-features {
  margin-top: -20vh;
  width: 100%;
  height: 115vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20vh, 100% 0, 100% 90vh, 0 100%);
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 20rem 0;
      height: auto;
      clip-path: polygon(0 18vh, 100% 0, 100% 92%, 0 100%);
      margin-top: -18vh; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 15rem 0;
      clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
      margin-top: -6%; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg"); } }

.section-tours {
  background-color: #f7f7f7;
  margin-top: -26vh;
  padding-top: 23rem; }
  .section-tours .discover-tour-btn {
    text-align: center; }

.section-stories {
  padding: 15rem 0;
  font-size: 1.6rem;
  position: relative; }

.section-book {
  width: 100%;
  padding: 13rem 0;
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
  z-index: -1; }

@media only screen and (max-width: 37.5em) {
  .section-book .row {
    max-width: 65rem; } }

.book {
  width: 100%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 70%, transparent 70%), url(../img/nat-10.jpg); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85) 100%, transparent 0%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
  .book .heading-secondary {
    font-size: 3.8rem; }
